body{
  font-family:'Cairo',sans-serif;
  margin:0; padding:0;
  background:#1e293b;
  color:#f1f5f9;
}
.card{
  background:#334155;
  margin:15px; padding:15px;
  border-radius:15px;
  box-shadow:0 4px 10px rgba(0,0,0,0.3);
}
button{
  padding:10px 15px;
  border:none;
  border-radius:10px;
  cursor:pointer;
  font-weight:600;
  transition:0.2s;
}
button:hover{ opacity:0.9; }
button.adminBtn.active{ background:#38bdf8; color:#fff; }
button.adminBtn.inactive{ background:#64748b; color:#cbd5e1; }
#logoutBtn{background:#f87171;color:#fff; width:100%; font-size:16px; margin-bottom:10px;}
input{
  width:100%; padding:8px 10px; margin:5px 0;
  border-radius:8px; border:none;
  background:#475569; color:#f1f5f9;
}
input::placeholder{color:#cbd5e1;}
.user-icon{
  display:inline-block; width:45px; height:45px; line-height:45px;
  border-radius:50%; text-align:center; margin:5px;
  background:#0ea5e9; color:#fff; font-weight:bold;
  box-shadow:0 2px 5px rgba(0,0,0,0.4);
}
#chatBox{background:#1e293b; border:1px solid #64748b; color:#f1f5f9; padding:5px; border-radius:10px; height:200px; overflow-y:auto;}
.modal-content{background:#334155; color:#f1f5f9;}
.close{color:#f87171; cursor:pointer;}
.warning{background:#f87171; color:#fff; text-align:center; padding:10px; position:fixed; top:0; width:100%; z-index:999;}
.error{color:#f87171;}
